**
!.gitignore
!README.md
!manifest.json
!modlist.html

# Config
!config/
!config/almostunified/unify.json
!config/ars_nouveau/
!config/ars_nouveau/glyph_lightning.toml
!config/botania-client.toml
!config/capsule/
!config/capsule/**
!config/capsule-common.toml
!config/defaultworldtype/
!config/defaultworldtype/client-config.toml
!config/ftbquests/
!config/ftbquests/**
!config/hostilenetworks.cfg
!config/industrialforegoing/
!config/industrialforegoing/machine-resources-production.toml
!config/jade/
!config/jade/plugins.json
!config/modpack-update-checker
!config/modpack-update-checker/**
!config/skyblockbuilder/
!config/skyblockbuilder/dimensions.json5
!config/skyblockbuilder/permissions.json5
!config/skyblockbuilder/structures.json5
!config/skyblockbuilder/templates.json5
!config/skyblockbuilder/world.json5

# DefaultConfigs
!defaultconfigs/
!defaultconfigs/create-server.toml

# Hotai
!hotai/
!hotai/**
!hotai_sources/
!hotai_sources/**

# KubeJS
!kubejs/
!kubejs/**
probe/
probe/**
kubejs/README.txt
kubejs/jsconfig.json

# Ldlib
!ldlib/
!ldlib/**

# Patchouli_Books
!patchouli_books/
!patchouli_books/**
patchouli_books/r2aot_books/en_us/entries/multiblock/text.json