**
!.gitignore
!CHANGELOG.md
!README.md
!manifest.json
!modlist.html

# Config
!config/
!config/almostunified/unify.json
!config/botania-client.toml
!config/defaultworldtype/
!config/defaultworldtype/client-config.toml
!config/ftbquests/
!config/ftbquests/**
!config/hostilenetworks.cfg
!config/industrialforegoing/
!config/industrialforegoing/machine-resources-production.toml
!config/jade/
!config/jade/plugins.json
!config/mbtool-common.toml
!config/mechanicalbotania-common.toml
!config/modpack-update-checker
!config/modpack-update-checker/**
!config/skyblockbuilder/
!config/skyblockbuilder/dimensions.json5
!config/skyblockbuilder/permissions.json5
!config/skyblockbuilder/structures.json5
!config/skyblockbuilder/templates.json5
!config/skyblockbuilder/world.json5
!config/squatgrow-common.yaml

# DefaultConfigs
!defaultconfigs/
!defaultconfigs/create-server.toml

# Hotai
!hotai/
!hotai/**
!hotai_sources/
!hotai_sources/**

# KubeJS
!kubejs/
!kubejs/**
probe/
probe/**
kubejs/README.txt
kubejs/jsconfig.json
kubejs/server_scripts/dev_tool.js

# Ldlib
!ldlib/
!ldlib/**

# Patchouli_Books
!patchouli_books/
!patchouli_books/**
patchouli_books/r2aot_books/en_us/entries/multiblock/text.json